.jumbotron {
  background-image:linear-gradient(#6a0638 ,#2f3031);
    background-size: cover;
    color: white;
    text-align: center;
  }
  .list-group-item{
    background-image:linear-gradient(#6a0638 ,#2f3031);
    color:rgb(255, 255, 255);
}
.list-group-item a{
    color:rgb(255, 255, 255);
}
.list-group-item a:hover{
  text-decoration:none;
    font-weight: bold;
}
.list-content{
  background-color: #beb6b6;
}
.login{
  color: black;
}
.navbar{
  background-image:linear-gradient(#a32c68 ,#fcfdff);
}
footer {
  background-color: #333;
  color: #8b8484;
  padding: 20px 0;
}
footer a {
  color: #59062b;
}
.carousel-item {
  text-align: center;
}
.destination-img {
  max-width: 100%;
  height: auto;
}
.destination-desc {
  margin-top: 20px;
}
h3{
  color: #37041b;
}
.gallery-heading{
  margin-top: 30px;
  background-color: #d7d2d2;
  padding:20px; 
}
.about-section {
  padding: 50px 0;
  background-color: #bbb7b9;
  margin: 20px;
}
.about-heading {
  text-align: center;
  margin-bottom: 30px;
}
.about-content {
  margin-bottom: 20px;
}
